In [22]:


import csv

#Creating a new csv file
with open('grades.csv', mode='w', newline='') as grades:
    writer = csv.writer(grades)
    writer.writerow([123, 'Smith', 98])
    writer.writerow([124, 'Kollbaum', 77])
    writer.writerow([125, 'Houseman', 57])
    writer.writerow([126, 'Hampton', 88])
    writer.writerow([127, 'Thomas', 65])
    writer.writerow([128, 'Nootbar', 99])
    writer.writerow([129, 'Goldshmidt', 89])
    writer.writerow([130, 'Molina', 74])
    
with open('grades.csv', 'r', newline='') as grades:
    print(f'{"ID":<10}{"Name":<10}{"Grade":>10}')
    reader = csv.reader(grades)
    for record in reader:
        ID, Name, Grade = record
        print(f'{ID:<10}{Name:<10}{Grade:>10}')
        
#Getting descriptive statistics about our file
import pandas as pd
dataframe = pd.read_csv('grades.csv', names=['ID', 'Name', 'Grade'])

dataframe

dataframe.to_csv('grades_from_dataframe.csv', index=False)

grades = pd.read_csv('grades.csv')

grades.columns = ['ID', 'Name', 'Grade']

pd.set_option('display.precision', 2)

grades.describe()

#Making a histogram of the grades

ID        Name           Grade
123       Smith             98
124       Kollbaum          77
125       Houseman          57
126       Hampton           88
127       Thomas            65
128       Nootbar           99
129       Goldshmidt        89
130       Molina            74

           ID  Grade
count    7.00   7.00
mean   127.00  78.43
std      2.16  14.65
min    124.00  57.00
25%    125.50  69.50
50%    127.00  77.00
75%    128.50  88.50
max    130.00  99.00

In [26]:
#making a histogram of the grades
%matplotlib

histogram = grades.hist()

Using matplotlib backend: TkAgg

In [25]:
print('Chris Kollbaum')

Chris Kollbaum